/* ---------------------------------------------------- */
/* Custom styles for fc-dayGridMonth-view */
/* ---------------------------------------------------- */
.fc .fc-view-harness {
  border-radius: 12px;
  overflow: hidden;
}
.fc .fc-scrollgrid {
  border-radius: 12px;
  overflow: hidden;
}
.fc .fc-theme-standard .fc-scrollgrid {
  border-radius: 12px;
  overflow: hidden;
}
.fc .fc-scrollgrid-sync-table thead {
  background-color: #ecebfc;
}
.fc .fc-col-header-cell {
  padding: 6px 0;
  background-color: #ecebfc;
  color: #866be7;
  font-weight: 500;
  font-size: 14px;
}
.fc-scroller {
  overflow-y: hidden !important;
}
.fc .fc-daygrid-day-frame {
  padding: 0 10px;
}
.fc-daygrid-day-number {
  background-color: none;
  font-weight: 400;
  font-size: 14px;
  text-align: start;
}
/* .fc .fc-daygrid-day-top {
  display: block;
} */
/* .fc .fc-day-today .active {
  background-color: #866be7;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin: 8px;
} */
/* Make the specific time slots for "today" transparent in timeGrid views */
.fc-timegrid-cols .fc-day-today {
  background-color: transparent !important;
}

/* custom stye for selected and busy state */
.fc .fc-highlight {
  background: #f5f4fe !important;
  border: 1px solid #866be7 !important;
}
.custom-selected-date .custom-day-number {
  color: #53389e !important;
  font-weight: bold;
}
.custom-busy-date .fc-daygrid-day-frame {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 7px,
    rgba(0, 0, 0, 0.04) 7px,
    rgba(0, 0, 0, 0.04) 14px
  ) !important;
}
.custom-busy-date .custom-day-number {
  opacity: 0.7;
}

/* Sale Badge Styling */
.sale-badge {
  border: 1px solid #c3bcf6;
  color: #866be7;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  z-index: 2;
}

/* Hide events from appearing on the grid */
.fc-event {
  display: none !important;
}

/* ---------------------------------------------------- */
/* Custom styles for fc-timeGridWeek-view */
/* ---------------------------------------------------- */
.fc-timeGridWeek-view .fc-scrollgrid {
  border: none;
}
.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 84px;
}
.fc .fc-timegrid-slot-label {
  vertical-align: top;
}

/* Customize Day Headers in TimeGrid View */
.custom-day-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.custom-day-header-weekday {
  font-size: 14px;
  font-weight: 600;
  color: #866be7;
  text-transform: uppercase;
}

.custom-day-header-day {
  font-size: 14px;
  font-weight: 400;
  color: #3d3d3d;
}

/* Style for current day header in timeGridWeek and timeGridDay */
.fc-day-today .custom-day-header-day {
  background-color: #744cdb;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .fc {
    height: 563px !important;
  }
  .sale-badge {
    border: none;
    color: #866be7;
    padding: 0;
    white-space: wrap;
  }

  /* .fc-timeGridWeek-view {
    height: 535px !important;
  } */
}
