@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-primary01: #866be7;
  --color-highlight01: #F5F4FE;
  --font-golos: "Golos Text", sans-serif;
  --color-description: #797979;
  --color-primary02: #1e7d5d;
}

.ant-tooltip .ant-tooltip-inner {
  color: rgba(0, 0, 0, 0.887);
  font-family: "Golos Text", sans-serif;
  background-color: #fff;
}

/* Style the scrollbar */
.chart-1::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px;
}

/* Style the scrollbar track */
.chart-1::-webkit-scrollbar-track {
  background: #f6f6f6; /* Track color */
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 0px;
}

/* Style the scrollbar thumb */
.chart-1::-webkit-scrollbar-thumb {
  background: #e7e7e7; /* Thumb color */
  border-radius: 20px; /* Rounded corners for the thumb */
}

/* Style when the scrollbar thumb is hovered */
.chart-1::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3; /* Thumb color on hover */
}

/* sidebar */

.custom-steps .ant-steps-item-tail {
  padding: 0 !important;
  top: 32px !important;
}

/* accordian */
.custom-collapse .ant-collapse-content {
  background: #ffffff !important;
  border: none !important;
}
.custom-collapse .ant-collapse-item .ant-collapse-arrow {
  font-size: 18px !important;
  margin-top: 18px !important;
}

/* table */
.custom-ant-table .ant-table-thead > tr > th {
  background: #262626 !important;
  color: white;
}

.ant-table-column-sorter {
  color: #3d0318;
}

.custom-sort-column .ant-table-column-sorter {
  color: #f9f7f8;
}

.ant-table-cell .ant-table-column-has-sorters {
  background: transparent !important;
  color: #290814;
}

.ant-table-column-sorters {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 8px !important;
}

.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  color: #aaa !important;
}

.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #ffffff !important;
}

.subscription-tooltip .ant-tooltip-inner {
  color: #ffffff !important;
  background-color: #222;
}

.ant-tooltip-arrow::before {
  background-color: #fff !important;
}

.ant-table-wrapper .ant-table-thead > tr > th::before {
  display: none !important;
}

/* date picker  */
.custom-range-picker {
  width: 100%;
  font-size: 14px;
}
.custom-range-picker .ant-picker-suffix {
  font-size: 20px;
}
.custom-range-picker .ant-picker-input > input {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
}

.custom-range-picker .ant-picker-range-separator {
  font-size: 16px;
}

.custom-range-picker .ant-picker {
  padding: 4px 10px;
}

/* CSS form Mahim  start*/

:where(.css-dev-only-do-not-override-1veog48).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0;
}
:where(.css-dev-only-do-not-override-1veog48).ant-tabs .ant-tabs-tab {
  padding: 12px 32px;
}

:where(.css-dev-only-do-not-override-1veog48).ant-tabs-top > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-1veog48).ant-tabs-bottom > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-1veog48).ant-tabs-top
  > div
  > .ant-tabs-nav,
:where(.css-dev-only-do-not-override-1veog48).ant-tabs-bottom
  > div
  > .ant-tabs-nav {
  margin: 0;
}

:where(.css-dev-only-do-not-override-1veog48).ant-tabs .ant-tabs-tab {
  font-size: 16px;
  color: #4f4f4f;
}

:where(.css-dev-only-do-not-override-1veog48).ant-tabs
  .ant-tabs-tab.ant-tabs-tab-active
  .ant-tabs-tab-btn {
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-1veog48).ant-input-affix-wrapper {
  padding: 8px 12px;
  border-radius: 8px;
  width: 100%;
}

:where(.css-dev-only-do-not-override-1veog48).ant-input-affix-wrapper
  .ant-input-prefix {
  margin-inline-end: 8px;
}

:where(.css-dev-only-do-not-override-1veog48).ant-select-single {
  height: 100%;
}

/* CSS form Mahim  end*/
